@import '../../assets/scss/_variables.scss';
#navbar{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #2a4e96;
    padding: 0 10px;

    h2{
        padding-left: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        display: flex;
        align-self: center;
        color: white;
        font-size: 25px;
        font-weight: lighter;

    }

    #menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        position: relative;
        cursor: pointer;
        div{

            padding: 20px;

            p{
                display: flex;
                align-self: center;
                color: white;
                a{
                    color: white;
                    text-decoration: none;
                }
    
            }
            #reg-btn{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 40px;
                background-color: $bg-main;

                &:hover{
                    background-color: #5976b1;
                }
            }
        }
    }

}
#main-body{
    display: flex;
    background-color: $bg-main;
    flex-direction: row;
    align-items: center;
    min-height: 88.5vh;

    #headings{
        div{
            padding-left: 40%;
        }
        padding-left: 5%;
        color: white;
        #h1{
            font-size: 50px;
            margin-bottom: 5px;
        }
        #h4{
            font-size: 25px;
            font-weight: 100;
            padding-top: 1px;
            margin-top: 2px;
        }
        #reg-btn{
            width: 70px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 40px;
            background-color: white;
            text-decoration: none;

            &:hover{
                background-color: black;
            }
            a{
                text-decoration: none;
                color: $bg-main;
                font-weight: bold;
            }
        }
        
    }
    #image1{
        padding-left: 5%;

    }

}

#intro-body{
    display:block;
    background-color: white;
    flex-direction: row;
    align-items: center;
    min-height: 88.5vh;
    padding-top: 100px;
    margin-bottom: 60px;

    #headings{
        div{
            padding-left: 40%;
        }
        padding-left: 5%;
        color: $bg-main;
        #h1{
            font-size: 50px;
        }
        #h2{
            font-size: 40px;
            width: 40%;
            text-align: center;
            margin: auto;
            margin-bottom: 50px;
            
        }
        #h4{
            font-size: 25px;
            padding-top: 5px;
        }
        .p{
            font-size: 20px;
            width: 30%;
            margin: auto;
            text-align: center;
            color: #000;
        }

        .p1{
            font-size: 20px;
            width: 30%;
            margin: auto;
            margin-bottom: 20px;
            text-align: center;
            color: #000;
        }
        
    }
    #image{
        padding-left: 5%;
    }

}

#footer{
    display: flex;
    background-color: rgb(24, 24, 24);
    flex-direction: row;
    align-items: center;
    min-height: 40vh;

    #copyright{
        margin-left: 170px;
        color: white;
        font-size: 10px;
    }

    #developers{
        margin-left: 170px;
        color: white;
        font-size: 12px;
        font-weight: lighter;
    }

    #headings{
        div{
            padding-left: 40%;
        }
        padding-left: 5%;
        color: white;
        #h1{
            font-size: 50px;
            margin-bottom: 5px;
        }
        #h4{
            font-size: 25px;
            font-weight: 100;
            padding-top: 1px;
            margin-top: 2px;
        }
        #h2{
            width: auto;
            margin-left: 30%;
            font-size: 30px;
            font-weight: bold;
        }

        #h21{
            width: auto;
            margin-left: 30%;
            font-size: 30px;
            font-weight: 100;

    }
    
        
        
    }
    #image1{
        padding-left: 5%;

    }

}

